.login_modal_view {
    max-width: 100%;
}

.modal-dialog {
    margin-top: 60px;
}

.navbar .has-megamenu {
    position: static!important;
}

.navbar .megamenu {
    width: 100%;
    padding: 20px;
}

.ais_member_nav.fixed_nav_ais {
    position: fixed;
    width: 84.6%;
    padding: 6px 15px;
    z-index: 4040;
    background-image: url(../../rudf-assets/icon/cover2.svg);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    /*box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);*/
    background-attachment: fixed;
}

#notifications {
    display: none;
}

.body_wrapper_custom {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.card_wrong_info_report .close_btn {
    right: 15px;
    top: 14px;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    color: #9f9f9f;
}

.download_button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.download_button button:active,
.download_button button:focus,
.download_button button:hover,
.download_button button:active:focus {
    border: 0;
    box-shadow: none;
    text-decoration: none;
}

.app_download_win {
    font-weight: 600;
}

.download_app_window_footer {
    font-size: 9px;
    color: #aaa;
    position: absolute;
    right: 10px;
    bottom: 6px;
}

.sub_title_text_app {
    color: #aaa;
    margin: 0;
    font-size: 13px;
}

.card_wrong_info_report {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 25px;
    width: 40%;
    border-radius: 10px;
    border: 0;
}

.wrong_info_report_card {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#admin_info_btn {
    position: absolute;
    right: 75px;
    top: 184px;
    display: none;
}

.add_advisors_info_row {
    margin-top: 15px;
}


/*
.dropdown-menu[x-placement^="bottom"],
.dropdown-menu[x-placement^="left"],
.dropdown-menu[x-placement^="right"],
.dropdown-menu[x-placement^="top"],
.dropdown-menu.batch_more_menu.showshow {
    transform: inherit !important;
    top: 33px !important;
}
*/

html {
    background: url("../../rudf-assets/icon/background.png") repeat fixed !important;
}

.notice_batch_content.scroll_body {
    position: relative;
    z-index: 1;
    color: #fff;
}

.error.card-section {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 25px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.mail_table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.mail_table {
    border-collapse: collapse;
}

.visitor_count {
    font-family: 'Share Tech Mono', monospace;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
    color: #fe272e;
}

.admin_info_row .card-title {
    font-family: Titillium Web, Hind Siliguri;
}

.login_text {
    display: flex;
    align-items: center;
}

.login_text_no,
.login_text {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.batch_session {
    position: absolute;
    right: 15px;
    text-align: center;
    top: 9px;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
}

.category,
.session {
    font-size: 12px;
    padding: 5px 9px;
    color: #fff;
    border-radius: 5px;
}

.lock_status {
    position: absolute;
    bottom: -57px;
    left: 15px;
}

.image_pro img {
    width: 100%;
    border-radius: 7px;
}

.pro_img_rudf {
    /*height: 200px !important;*/
    width: 162px !important;
    overflow: hidden;
    border-radius: 7px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.image_pro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.link_view {
    padding: 0;
}

#title_edit {
    padding: 20px;
    margin-top: 15px;
    border-radius: 9px;
}

#title_edit_info {
    padding: 20px;
}

.short_link {
    text-align: center;
}

#link_copy {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.link_body {
    font-family: 'Source Code Pro', monospace;
}

#inactive_form {
    margin: 0;
    display: inline-block;
}

.center-login.add_info_users.container.add_advisors_info .add_info_users_top {
    margin-bottom: 15px;
}

.copy-notification {
    color: #ffffff;
    background-color: #1867a7;
    padding: 10px 15px;
    border-radius: 7px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -85px;
    display: none;
    text-align: center;
}

#admin_info_show {
    position: absolute;
    right: 15px;
    top: 75px;
    width: 28%;
}

.admin_info_row {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: none;
}

.admin_info_row .col-md-2 {
    padding: 0px;
}

.form-group.img-show {
    text-align: center;
}

.card-header.faq_showing {
    background: #a20000!important;
}

.card-header.add_notice {
    background: #1867a7!important;
}

.card-header.add_batch {
    background: #28a745!important;
}

img.upload_gallery_img {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 0;
    height: auto;
}

#myModalFileView .modal-dialog {
    height: 100%;
}

#dev_gallery_view {
    background: aliceblue;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 20px;
}

#batch_select_gallery {
    position: absolute;
    left: 173px;
    top: 17px;
}

.upload-btn {
    text-align: right;
    margin: 25px 0px;
}

.batch_more_menu {
    right: 0px !important;
    left: inherit !important;
    border-top: 1px solid #ddd;
}

.footer-bottom {
    background: #333333;
    color: #fff;
    border-top: 3px solid #08387F;
    padding: 0px 15px;
}

#browser img {
    display: inline;
    margin: 7px;
}

.home_all_search {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pin_lock_info {
    margin: 0px auto 5px auto;
}

.login_title_rudf {
    margin: 20px 0px 40px 0px;
}

.login_title {
    font-family: Titillium Web, Hind Siliguri;
    font-size: 40px;
}

#ais_family_credentials_filter {
    position: absolute;
    right: 15px;
}

.active_count_batch .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.gallery_more_menu {
    right: 0 !important;
    left: unset;
}

.active_count_batch {
    position: relative;
    bottom: 80px;
    text-align: center;
}

div#code-side {
    height: 460px;
    overflow-y: scroll
}

.ais_family_login {
    width: 200%!important;
}

.ais_family_login td,
.ais_family_login td:last-child,
.ais_family_login th {
    border-top: inherit !important;
}

#editor {
    height: 400px
}

div#code-side pre {
    background: #eee;
    padding: 15px;
    border-radius: 4px;
    white-space: normal
}

.loggedin-body {
    background: #fff;
}

.head-big,
.head-small {
    color: #473c9b!important;
}

.navbar-nav.member-db .nav-link {
    color: #fff;
}

.head_title_home {
    text-align: center;
    font-family: Titillium Web, Hind Siliguri;
    font-weight: 700;
    padding: 15px;
}

.head_title_home h2 {
    font-size: 45px;
    color: #1867a7;
    font-weight: 600;
    text-transform: uppercase;
}

.show_hide_ais {
    position: absolute;
    right: 60px;
    bottom: 202px;
}

.files_ais_family {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: #F2F4F5;
}

.learn_ais_body small {
    color: #8c8c8c;
}

.tag.ais_files {
    margin-bottom: 10px;
}

.center-login.add_info_users.container.add_advisors_info {
    width: 100%;
    max-width: 100%;
    background: transparent;
}

.learn_icon .logo {
    border-radius: 0;
    width: 30px;
    height: 30px;
}

.count_student_batch {
    position: absolute;
    right: 10px;
    bottom: 30px;
    border-bottom: 2px solid #fff;
}

.contact-form .form-control {
    border-radius: 0;
    padding: 22px 15px;
}

.contact-info__icon {
    font-size: 25px;
    position: absolute;
}

.contact-info__icon.view {
    font-size: 18px;
    position: absolute;
}

.contact-info__icon.view.blood {
    font-size: 18px;
    position: absolute;
    color: red;
}

.contact-info__icon.view.social {
    font-size: 25px;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -20px;
}

.bullet-info.fixed {
    opacity: 1;
    -webkit-animation: spinner-grow .75s linear;
    animation: spinner-grow .75s linear;
}

.media-body {
    margin-left: 45px;
}

.media-body.view {
    margin-left: 35px;
}

.bspText {
    margin-bottom: 0px;
}

li.col-xl-3.col-lg-2.col-md-4.col-sm-4.bspHasModal {
    border-radius: 5px;
    padding: 7px;
}

#bsPhotoGalleryModal .modal-dialog img {
    border-radius: 10px 10px 0px 0px;
    height: inherit;
}

.modal-content {
    border-radius: 10px !important;
    border: 1px solid #ddd;
}

#bsPhotoGalleryModal .bsp-text-container {
    border-top: 1px solid #ddd;
    border-radius: 0px 0px 10px 10px;
}

.bspText {
    color: #666;
    font-size: 11px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    padding: 12px;
    background: #fff;
    overflow-y: auto;
    height: 100px;
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: cover !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bspImgWrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

ul[data-bsp-ul-index] li {
    margin-bottom: 0px;
}

form#form_lang {
    display: none;
}

.notice_batch_content {
    overflow: hidden;
    white-space: nowrap;
}

.head_title_scroll {
    position: absolute;
    background: #1867a7;
    padding: 5px 7px;
    color: #fff;
}

.scroll_text {
    padding: 5px;
    z-index: -1;
}

.form-control::placeholder {
    opacity: 0.3;
}

.update_notice_btn {
    padding: 15px;
}

.update_link_batch {
    position: absolute;
    top: 7px;
    right: 25px;
}

.header_title {
    display: none;
}

.col-md-6-c {
    width: 25%;
}

.nav_icon {
    display: none!important;
}

.row-c {
    width: 100%;
    display: inline-flex;
}

.users_loggedin_info {
    margin-top: 75px;
    margin-left: 15px;
    z-index: 2 !important;
}

a:hover {
    text-decoration: none;
}

.home_developer_box {
    margin-bottom: 15px;
}

.others_batch_btn {
    position: absolute;
    right: 15px;
    top: 75px;
}

.public_btn {
    position: absolute;
    left: 15px;
    top: 75px;
}

.admin_notice_btn {
    position: absolute;
    left: 15px;
    bottom: 30px;
}

.table td,
.table th {
    border-top: 0;
}

.gallery_photo .photo_img {
    width: 150px;
    border-radius: 6px;
    height: 100%;
}

.not_found_alert {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
    font-size: 14px;
}

.center-login.add_info_users.container {
    padding: 0 !important;
    margin: 15px auto;
}

.add_info_users {
    top: 100%!important;
    position: inherit!important;
    transform: inherit!important;
    padding: 20px 0px!important;
}

.only_form_users {
    padding: 23px;
}

.add_info_users_top {
    background-image: url('../../rudf-assets/icon/cover2.svg')!important;
    background-repeat: no-repeat!important;
    background-size: 85%!important;
    background-position: center!important;
    background-attachment: fixed!important;
}

.add_info_users_title {
    padding: 75px 0px!important;
}

.loogedin_info_edit_left_right {
    padding: 15px;
    background-color: #fff;
    margin-top: 0px;
    border-radius: 0 0 .25rem .25rem;
}

.loogedin_info_edit_left_right_report {
    padding: 15px;
    background-color: #fff;
    margin-top: 0px;
    border-radius: 0 0 .25rem .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loogedin_info_edit_left {
    padding: 15px;
    border-radius: 4px;
    border-color: #dfdfdf;
}

.loogedin_info_edit_top {
    background-image: url('../../rudf-assets/icon/cover2.svg');
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    background-attachment: fixed;
    border-radius: 0;
    border: 0;
}

.container {
    max-width: 1142px;
}

.form_text_title {
    background: #f7f7f7;
    margin-top: -74px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: .75rem 1.25rem;
    border: 1px solid;
    border-color: #dfdfdf;
    border-radius: 4px 4px 0px 0px;
}

.card-header.members-side {
    background: #1867a7;
    color: #fff;
}

.loogedin_info_edit_title {
    padding: 130px 0px;
    font-family: Titillium Web, Hind Siliguri;
    font-weight: 700;
}

.loogedin_info_edit_right {
    padding: 15px 0px;
}

.spinner-grow {
    width: 14px;
    height: 14px;
    color: #1867a7;
}

body {
    background-color: transparent!important;
}

.toast-error {
    background-color: #c82333;
}

.toast-success {
    background-color: #218838;
}

#toast-container>div {
    width: 95%;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#toast-container>div:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.7;
}

.text_title_loggedin {
    font-size: 40px;
    letter-spacing: 6px;
}

.search_results_view {
    padding: 10px 15px 30px 15px;
}

.row.c {
    width: 100%;
    display: inline-flex;
}

.toast-message {
    font-size: 14px;
}

.copyright {}

.copyright a {
    text-decoration: none;
}

.edit-form {
    background-color: #fff;
    padding: 15px 60px;
    border-radius: 15px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

div#msg-success {
    padding: 30px;
    margin: 15px 0px;
    background: #4cb34c;
    color: #fff;
    border-radius: 5px;
}

div#msg-error {
    padding: 30px;
    margin: 15px 0px;
    background: #c90707;
    color: #fff;
    border-radius: 5px;
}

.header-reset {
    text-align: center;
}

a.edit_button {
    padding: 10px;
    background: red;
    border-radius: 4px;
    width: 40%;
    color: #ffffff;
    font-weight: bold;
}

td.btn_pad {
    margin-top: 5px;
}

select.form-control {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    /* background: #FFF;*/
    margin: 0 0 5px;
    /* padding: 10px;*/
}

.change-pass h3 {
    text-align: center;
    margin: 30px 0px;
}

.change-pass {
    /*margin: 77px auto;*/
}

.update-btn {
    display: inline-flex;
    margin: 30px 0px;
}

a.logout {
    border-radius: 0px 0px 0px 9px;
}

a.user-pass {
    border-radius: 0px 0px 9px 0px;
}

.photo-change img {
    border-radius: 50%;
    margin: 25px auto;
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.photo-change {
    text-align: center;
    /*margin-top: 60px;*/
}

.change-photo-button {
    border: none;
    padding: 10px 0px;
    background: #1867a7;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 15%;
}

.change-photo-button:hover {
    border: 1px solid #1867a7;
    border-radius: 4px;
    color: #1867a7;
    background: #fff;
}

.change-info-button {
    border: none;
    padding: 10px 0px;
    background: #e66c00;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 15%;
}

.iconic-body {
    background-color: #fff;
    border-radius: .25rem;
}

.change-info-button:hover {
    border: 1px solid #e66c00;
    border-radius: 4px;
    color: #e66c00;
    background: #fff;
}

body,
html {
    margin: 0px auto;
    background-color: #F0F2F5;
}

input#fbid {
    padding: 10px 5px 10px 180px!important;
}

.static-value {
    position: absolute;
    left: 10px;
    font-size: 14px;
    color: #bbb;
    top: 10px;
}

.center-login {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: unset;
    left: 0;
    top: 0;
    transform: unset;
    padding: unset;
    background: unset;
    border-radius: unset;
}

.copyright {
    text-align: center;
}


/*a.back-button:hover {
    background: #fff;
    color: #1867a7;
    border: 1px solid #1867a7;
}*/

.center-login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 27px 40px 27px;
    border-radius: 10px;
    width: 46%;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: none;
}

.login {
    display: grid;
    width: 90%;
    margin: auto;
}

.container {
    margin: auto;
}

img.img-top {
    background: #007bff;
}

.avatar {
    position: relative;
    display: inline-block;
}

.avatar .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.avatar:hover .img-top {
    display: inline;
}

[data-id="nbc-searchbluesubmit1"]:focus {
    outline: none;
}

.pro:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.pro {
    position: relative!important;
    width: 40px!important;
    height: 40px!important;
    overflow: hidden;
    border-radius: 50%!important;
    border: 3px solid #fff;
}

.pro img {
    width: 100%;
    height: auto;
    border-radius: unset;
}

input#wc-searchblueinput1:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.head {
    width: 100%;
    margin: auto;
}

div#myDropdown p {
    padding: 7px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.info-text {
    text-align: center;
    border: none!important;
    margin: 0px auto 15px auto!important;
    color: #1867a7;
}

.dropbtn:focus {
    outline: none;
}

.dropdown-content {
    display: none;
    background-color: #ffffff;
    min-width: 230px;
    box-shadow: 0px 5px 40px 13px rgba(0, 0, 0, 0.2);
    z-index: 1;
    word-wrap: break-word;
    border-radius: 10px;
    position: fixed;
    left: 104px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: unset;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    text-decoration: none;
}

.show {
    display: block;
}

.container.ais_family {
    background: #fff;
    padding: 0;
}

.desktop_gallery_view,
.my_gallery_view,
.admin_gallery_view {
    padding: 15px;
}

.gallery_update_view .img-show {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.dropbtn {
    font-family: 'EkusheyLohit', sans-serif;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
    font-weight: bold;
    background: #ffffff;
}

.avatar img {
    border-radius: 50%;
    margin: auto;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.learn_icon .avatar img {
    border-radius: 50%;
    margin: auto;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    background: #1867a7;
    color: #fff!important;
    font-weight: bold;
}

.dropdown.main_header {
    position: absolute;
    display: inline-block;
}

.btn-default {
    color: #fff!important;
    background-color: #1867a7!important;
    border: unset!important;
    font-weight: bold!important;
}

.btn-default:hover {
    color: #fff!important;
    border: unset!important;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 15px 16px!important;
    float: right;
    font-size: unset!important;
    font-weight: bold!important;
    background: #1867a7!important;
    border: none!important;
}

.avatar {
    margin: 0 auto;
}

div#textbox {
    width: 85%;
    margin: -65px auto 0px auto;
    font-size: 18px;
    font-weight: bold;
}


/*
#myBtn i {
    color: #fff;
    margin: 0;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#myBtn {
    display: none;
    position: absolute;
    position: fixed;
    bottom: 29px;
    right: 29px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #1867a7;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    height: 50px;
    width: 50px;
}

#myBtn:hover {
    background-color: #1867a7;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*/

table {
    text-align: center;
    border: 1px solid #ccc;
    margin: 0px auto 50px auto;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 13px;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
}

table tr {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 10px;
}

thead th {
    text-align: center;
    font-weight: bold;
}

.img-edit.gallery_photo {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ais_family_gallery tr:nth-child(even) {
    background-color: #fff;
}

tr:hover {
    background-color: #0000000f;
}

table td,
table th {
    padding: 8px;
}

table th,
table td {
    border-right: 1px solid #ddd;
}

table th:last-child,
table td:last-child {
    border: 0!important;
}

th:last-child {
    border-radius: 0px 10px 0px 0px;
}

th:first-child {
    border-radius: 10px 0px 0px 0px;
}

#ais_family {
    border-radius: 10px;
}

th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #1867a7;
    color: white;
}

h2.header-2 {
    font-family: Titillium Web, Hind Siliguri;
    display: table-cell;
    text-align: center!important;
    font-weight: 700;
    font-size: 50px;
    background: linear-gradient(345deg, #ffffff 45%, #ffffff 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 100px;
    margin: auto;
    margin: 28px auto 20px auto;
    width: 1%;
}

h2.header {
    font-family: Hind Siliguri;
    display: table-cell;
    font-weight: 700;
    font-size: 50px;
    background: linear-gradient(345deg, #1867a7 45%, #473c9b 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 100px;
    line-height: 100px;
}

.error-text {
    text-align: center;
    background: red;
    width: 70%;
    margin: 21px auto -50px auto;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

p.error {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    background: red;
    padding: 10px;
    border-radius: 4px;
}

#nbc-searchblue1 {
    border-radius: 10px;
    width: 100%;
}

#nbc-searchbluebox1 {
    padding: 10px;
}

.search-home {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

[data-id="nbc-searchbluesubmit1"] {
    border: none!important;
    color: #ffffff;
    font-size: 14px;
    background: #1867a7;
    border: none!important;
    padding: 20px 15px;
    font-weight: bold;
    border-radius: 0px 30px 30px 0px !important;
    width: 19%!important;
    height: 60px !important;
    text-align: center!important;
}

.search_input_cat .dropdown-item.active,
.search_input_cat .dropdown-item:active {
    background-color: #1867a7;
}

.search_input_cat .dropdown-item.active:hover,
.search_input_cat .dropdown-item:active:hover {
    color: #fff;
}

.search_input_cat .btn:hover {
    color: #fff;
}

.search_input_cat .dropup .dropdown-menu {
    border-radius: 30px 30px 30px 0px!important;
}

.search_input_cat .dropdown-menu {
    border-radius: 0px 30px 30px 30px!important;
}

.search_input_cat .btn.focus,
.search_input_cat .btn:focus {
    box-shadow: none!important;
}

.search_input_cat select.mobile-device:focus+.dropdown-toggle,
.search_input_cat .dropdown-toggle:focus {
    outline: 0!important;
    outline: 0!important;
    outline-offset: 0!important;
}

.search_input_cat .dropdown-toggle::after {
    display: none!important;
}

.search_input_cat .bootstrap-select .dropdown-menu {
    min-width: auto;
}

[data-id="nbc-searchbluesubmit1"] {
    position: absolute!important;
    top: -60px;
    right: 0px;
}

[data-id="nbc-searchbluesubmit1"] option {
    background: #fff;
    color: #000;
}

[data-id="nbc-searchbluesubmit1"]:hover {
    background: #085695;
}

.content.iconic-body {
    padding: 50px 0px;
}

input#wc-searchblueinput1 {
    width: 100%;
    border: none;
    padding: 20px 30px;
    background: #ffffff;
    color: #000;
    font: 14px verdana;
    outline: none;
    border-radius: 30px;
    border: 1px solid #ddd;
    height: 60px !important;
}

.regisFrm {
    overflow: hidden;
}

h2.header1 {
    font-family: Hind Siliguri;
    display: table-cell;
    margin: 32px auto;
    font-weight: 700;
    font-size: 65px;
    background: linear-gradient(345deg, #1867a7 45%, #473c9b 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 100px;
    line-height: 100px;
}

#myDropdown a {
    text-align: center;
    display: block;
    margin: 0 auto;
}

body,
html {
    padding: 0;
    height: 100%;
    width: 92%;
    font-family: 'Arial', 'SolaimanLipi', sans-serif;
    font-size: 14px;
}

html {
    overflow-y: auto
}

.embed-container {
    position: relative;
    height: 100%;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.select_live_search_custom {
    border: 1px solid #ced4da;
}

.per_batch_btn {
    margin: 0;
    padding: 8px 15px;
}

.per_batch_btn:nth-child(odd) {
    border-right: 1px solid #ddd;
}

.per_batch_btn a {
    width: 100%;
}

.per_batch_btn:hover {
    background: #eee;
}

.session_name_title {
    font-size: 12px;
}

.batch_name_title {
    color: #000;
}

.session_name_title {
    color: #555;
}

.per_batch_btn.my_batch .batch_info_count,
.per_batch_btn.advisors .batch_info_count {
    background: green;
}

.per_batch_btn.my_batch .batch_name_title,
.per_batch_btn.advisors .batch_name_title {
    color: green;
}

.per_batch_btn.my_batch .session_name_title,
.per_batch_btn.advisors .session_name_title {
    color: rgba(0, 128, 0, 0.64);
}

.batch_info_count {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0%, -50%);
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1867a7;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
}

.explore_more_content {
    border: 0;
    padding: 1px;
}

.explore_more_search_btn:hover {
    text-decoration: underline;
}

#toast-container>div {
    width: 100%;
    border-radius: 7px;
    border: 0;
    margin: 0;
}

#toast-container>div {
    opacity: 1;
}

#toast-container>.toast-warning,
#toast-container>.toast-info,
#toast-container>.toast-error,
#toast-container>.toast-success {
    background-size: 18px;
}

.main_footer_mobile {
    display: none;
}

.mobile_nav_wrapper,
.mobile_nav_wrapper_search {
    display: none;
}

.gallery_update_view {
    margin: 15px 0px;
}

.modal-header h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header.view_std {
    display: none;
}

.spinner_log {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mdi-spin::before {
    -webkit-animation: mdi-spin 1s infinite linear!important;
    animation: mdi-spin 1s infinite linear!important;
}

.inside_spin .spinner_log {
    position: absolute;
    z-index: 3;
    top: 45px;
    right: 15px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hall_name_body {
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 25px;
    width: 30%;
    background: #fff;
}

.hall_name_body ul li a {
    white-space: normal;
}

.hall_name_wrapper {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4);
}

.hall_name_body .dropdown-menu {
    width: 100%;
}

.mobile_nav_title_hall {
    border: 0;
    margin-bottom: 30px;
}

.mobile_nav_head {
    padding: 15px;
}

.wish_them_popup_wrapper .nav-tabs .nav-link {
    border: 0;
}

.mobile_nav_body {
    overflow: auto;
    height: 99%;
    padding: 10px 15px 15px 15px;
}

.mobile_nav_title {
    font-size: 18px;
    font-weight: 600;
}

.item_view_nav:last-child {
    margin-bottom: 200px!important;
}

.item_view_nav:hover {
    background: rgb(240, 240, 240);
    border-radius: 5px;
}

.mobile_nav_content_icon_last .mdi::before,
.middle_text_hints {
    color: rgb(139, 139, 139);
}

.middle_text_hints {
    font-size: 13px;
}

.item_view_nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 6px 0px;
    cursor: pointer;
    position: relative;
}

.mobile_nav_close .mdi {
    cursor: pointer;
}

.mobile_nav_wrapper .mdi::before,
.mobile_nav_wrapper_search .mdi::before {
    font-size: 22px;
}

.middle_title {
    font-size: 15px;
    font-weight: 600;
}

.mobile_nav_content_icon {
    position: absolute;
}

.mobile_nav_content_middle {
    margin-left: 35px;
}


/* nav css */

.mobile_nav_wrapper,
.mobile_nav_wrapper_search {
    position: fixed;
    top: 70px;
    height: 80%;
    border-radius: 10px;
    background: white;
    z-index: 2;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 57%);
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}

.mobile_nav_head {
    padding: 15px;
}

.mobile_nav_head {
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 0;
}

.mobile_nav_body {
    overflow: auto;
    height: 99%;
    padding: 10px 15px 15px 15px;
}

.mobile_nav_title {
    font-size: 18px;
    font-weight: 600;
}

.item_view_nav:last-child {
    margin-bottom: 200px!important;
}

.item_view_nav:hover {
    background: rgb(240, 240, 240);
    border-radius: 5px;
}

.mobile_nav_content_icon_last .mdi::before,
.middle_text_hints {
    color: rgb(139, 139, 139);
}

.middle_text_hints {
    font-size: 13px;
}

.item_view_nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 6px 0px;
    cursor: pointer;
    position: relative;
}

.mobile_nav_close .mdi {
    cursor: pointer;
}

.mobile_nav_wrapper .mdi::before,
.mobile_nav_wrapper_search .mdi::before {
    font-size: 22px;
}

.middle_title {
    font-size: 15px;
    font-weight: 600;
}

.mobile_nav_content_icon {
    position: absolute;
}

.mobile_nav_content_middle {
    margin-left: 35px;
}

.pro_bd img {
    width: 30px;
    height: 30px;
    margin: 0;
}

.pro_bd {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcoming_title {
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0px;
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;
}

.today_birthday_class #birthday_view_item:last-child {
    margin: 0 !important;
}

.wish_them_popup .mobile_nav_head {
    padding: 10px 15px;
}

.wish_them_popup .mobile_nav_title {
    font-size: 15px;
}

.wish_them_popup .today_birthday_class_wrapper {
    max-height: 250px;
    overflow: auto;
    padding: 10px 15px;
}

.latest_notice_class_wrapper .middle_text_hints {
    color: #e1e1e1;
}

.latest_notice_class_wrapper .mobile_nav_content_middle {
    margin: 0;
    padding: 0px 7px;
}

.latest_post_class_wrapper .mobile_nav_content_middle {
    margin: 0;
    padding: 0px 7px;
}

.latest_notice_class_wrapper {
    padding: 10px 7px !important;
    margin: 0;
    overflow: auto;
    height: 250px;
}

.body_wrpper_post {
    font-size: 16px;
}

.title_post_tag {
    padding: 15px 0;
    font-size: 14px;
    color: #6c6c6c;
}

.latest_post_class_wrapper {
    padding: 10px 7px !important;
    margin: 0;
    overflow: auto;
    height: 250px;
}

.title_notice_view {
    background: transparent;
}

.wish_them_popup .item_view_nav:hover {
    background: #d7d7d729;
    border-radius: 5px;
}

.latest_notice_class_wrapper .accordion {
    margin-bottom: 100px;
}

.wish_them_popup {
    position: absolute;
    top: 60px;
    overflow: hidden;
    background: rgb(83, 0, 154);
    background: linear-gradient(20deg, rgb(24, 103, 167) 34%, rgb(240, 0, 0) 100%);
    padding: 0;
    color: #fff;
    border-radius: 7px;
    left: 115px;
    max-height: 320px;
    width: 30%;
}

.course_name_tag {
    margin-top: 8px;
}

.card-columns.controller_file {
    column-count: 1;
    column-gap: 0;
    display: inline-block;
    width: 100%;
}

.latest_post_class_wrapper .middle_text_hints {
    color: #d2d2d2;
}

.edit_side_file .card-columns.learn_card_row {
    column-gap: 15px;
    display: inline-block;
    column-count: 1;
    width: 100%;
}

.card-columns.post_card_now {
    column-gap: 15px;
    display: inline-block;
    column-count: 3;
    width: 100%;
}

.card-columns.learn_card_row {
    column-gap: 15px;
    display: inline-block;
    width: 100%;
}

.card-text.learn_icon .btn,
.learn_icon.update_post .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn_icon.update_post .avatar {
    margin-right: 10px;
}

.learn_icon.update_post {
    display: grid;
    justify-content: stretch;
    width: 100%;
    align-items: center;
}

.card-text.learn_icon {
    display: grid;
    justify-content: stretch;
    width: 100%;
    align-items: center;
}

.about_more_view.about_rudf.item_view_nav {
    flex-direction: column;
    margin-bottom: 150px;
}

.about_more_view.about_rudf.item_view_nav:hover {
    background: transparent;
}

.about_details {
    text-align: justify;
}

.card-body.members-card-body.rudf-info {
    height: 120px;
    overflow: hidden;
    margin: 15px;
    padding: 0;
}

#update_about_rudf {
    position: absolute;
    bottom: 50px;
    right: 25px;
    cursor: pointer;
    background: #e1e1e1;
    padding: 2px 5px;
    border-radius: 7px;
}

.head_wrapper {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rudf_logo {
    border-radius: 0;
    margin: 5px 0;
    width: 60px;
    height: 60px;
}

.rudf_logo img {
    border-radius: 0;
    width: 100%;
    height: inherit;
}

@media print {
    body,
    html {
        display: none;
    }
}